.gf-category {
    position: relative;
    border-left: 2px solid #aaa;
    padding-left: 24px;
    line-height: 16px;
    margin: 10px 0;
}
.gf-category:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    width: 20px;
    height: 2px;
    background: #aaa;
}
/*body ::selection {*/
    /*color:#FFFFFF;*/
    /*background:#E84893;*/
    /*text-shadow:none;*/
/*}*/
.gf-group-delete, .gf-group-add, .gf-group-edit, .gf-group-ensure{
    padding-left: 5px;
    font-size: 16px;
}
.gf-group-delete, .gf-group-delete :link, .gf-group-delete :visited, .gf-group-delete :active, .gf-group-delete :focus
{
    color: #d9534f;
}
.gf-category .group_a{
    display: inline-block;
    width: 70%;
}
.gf-group-add{
    color: #5bc0de;
}
.gf-group-edit{
    color: #f0ad4e;
}
.gf-group-ensure{
    color: #5cb85c;
    margin-left: 5px;
}
.gf-group-cancel{
    color: #eb3c00;
    margin-left: 10px;
}
.gf-group-cancel:hover{
    color: #ee0000;
}
.gf-group-delete:hover{
    color: #c9302c;
}
.gf-group-add:hover{
    color: #31b0d5;
}
.gf-group-edit:hover{
    color: #ec971f;
}
.gf-group-ensure:hover{
    color: #449d44;
}
.gf-sort{
    height: 30px;
    width: 200px;
    padding-left: 3px;
    display: inline-block;
    vertical-align: middle\9;
    padding: 0 3px\9;
}
.gf-add-group-ensure{
    color: #5cb85c;
    margin-left: 5px;
    padding-left: 5px;
}
.gf-add-group-ensure:hover{
    color: #449d44;
}
.gf-add-group-cancel{
    color: #eb3c00;
    margin-left: 10px;
}
.gf-add-group-cancel:hover{
    color: #ee0000;
}
.gf-oper-loading{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(/static/image/spinner.gif);
    background-size: 100%;
    vertical-align: -1px;
}
.gf-global-tip{
    position: absolute;
    background: rgba(211,211,211,.4);
    width: 170px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    z-index: 999;
    border-radius: 4px;
    display: none;
}
.gf-tip-text{
    float: left;
    margin: 5px 0 0 25px;
    font-weight: 500;
    opacity: .7;
    text-align: center;
    width: 115px;
}
.gf-tip-close{
    border: none;
    float: right;
    margin: 12px 6px 0 0;
    font-size: 21px;
    font-weight: 700;
    line-height: 0.6;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .4;
}
.gf-tip-close:hover{
    color: #000;
    opacity: .5;
}
.gf-category{
    position: relative;
    line-height: 30px;
}
.operate-btns{
    position: absolute;
    right: 20px;
    top: 2px;
}
.check-gf-group{
    vertical-align: -1px;
    margin: 0 2px;
}
.gf-divider{
    border-bottom: 2px solid #f0f0f0;
    margin: 20px 0;
}